[submodule "libbrotli"]
	path = libbrotli
	url = https://github.com/bagder/libbrotli.git
[submodule "ngx_brotli"]
	path = ngx_brotli
	url = https://github.com/google/ngx_brotli.git
[submodule "nginx-core"]
	path = nginx-core
	url = https://github.com/nginx/nginx
